{% extends "base.html" %}
{% block nav %}
    {% include "nav.html" %}
{% endblock %}
{% block content %}
<section class="vh-100">
    <div class="container pt-3 h-100">
        <div class="row d-flex justify-content-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body text-center">
                        <h3 class="mb-5 align-items-center">비밀번호 변경</h3>
                        <div class="form-floating mb-4">
                            <input type="password" class="form-control" id="cur-password" placeholder="현재 비밀번호">
                            <label for="cur-password">현재 비밀번호</label>
                        </div>
                        <div class="form-floating mb-2">
                            <input type="password" class="form-control" id="password1" placeholder="변경할 비밀번호">
                            <label for="password1">변경할 비밀번호</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="password" class="form-control" id="password2" placeholder="변경할 비밀번호 확인">
                            <label for="password2">변경할 비밀번호 확인</label>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-light btn-block" id="back-btn" type="button">뒤로</button>
                            <button class="btn btn-primary btn-block" id="edit-btn" type="button">
                                <span class="spinner-border spinner-border-sm d-none" id="edit-spinner" role="status" aria-hidden="true"></span>
                                변경
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%}
{% block extra_script %}
<script src="{{ url_for('static', path='auth/password_edit.js') }}"></script>
{% endblock %}
