<!-- 사이트 네비게이션 바 -->
<nav class="navbar navbar-expand-lg bg-light mb-3">
    <div class="container-fluid">
        <a class="navbar-brand bg-primary text-white fw-bold rounded-pill px-3 py-2" href="/">게두리 망해라</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/license/list/">라이선스</a>
                </li>
                {% if user.is_admin %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    관리
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/manage/user/list/">회원 관리</a></li>
                        <li><a class="dropdown-item" href="/manage/file/list/">파일 관리</a></li>
                    </ul>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.name }}
                    </a>
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="/auth/me/">내 정보</a>
                            <a class="nav-link" href="/auth/logout/">로그아웃</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>